# {{ ansible_managed }}
{# This template will render an iptables-restore file for a list of
   iptables_rules #}
{# Loop over a list of unique "tables" being configured #}
{% for table in iptables_rules | map(attribute='table') | unique | list %}
*{{ table }}
{# The list is reversed for chains because the lowest priority chains need to
   be outputted first, then the higher priority chains supersede #}
{%   for chain in iptables_rules |
                  selectattr('table', 'equalto', table) |
                  map(attribute='chains') |
                  select('defined') |
                  reverse |
                  sum(start=[]) %}
:{{ chain.name }} {{ chain.policy | default('-') }} [{{ chain.packets | default('0') }}:{{ chain.bytes | default('0') }}]
{%   endfor %}
{%   for rule in iptables_rules |
                  selectattr('table', 'equalto', table) |
                  map(attribute='rules') |
                  select('defined') %}
{%     if rule is not string %}
{%       set rule = rule | join('\n') %}
{%     endif %}
{{ rule }}
{%   endfor %}
COMMIT
{% endfor %}
