# {{ ansible_managed }}
{% set base_rules_dir = 'base_' ~ nf_proto %}
{% for nf_table in nf_tables %}
*{{ nf_table }}
{%   set base_template = ['base', nf_proto] | join('_') ~ '/' ~
                         [iptables_base_ruleset, nf_table] | join('_') ~
                         '.j2' %}
{%   include base_template %}

{%   for group in group_names %}
{%     set group_template = ['group', nf_proto] | join('_') ~ '/' ~
                            [group, nf_table] | join('_') ~ '.j2' %}
{%     include group_template ignore missing %}

{%   endfor %}
COMMIT
{% endfor %}
