# Base default filter table template
:INPUT DROP [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:DEFAULT_RULES - [0:0]
-A INPUT -j DEFAULT_RULES
-A DEFAULT_RULES -s ff00::/8 -j ACCEPT
-A DEFAULT_RULES -s fe80::/10 -j ACCEPT
-A DEFAULT_RULES -i lo -j ACCEPT
-A DEFAULT_RULES -p udp -m udp --dport 33434:33534 -m limit --limit 3/sec --limit-burst 10 -j ACCEPT
-A DEFAULT_RULES -p ipv6-icmp -m limit --limit 3/sec --limit-burst 25 -j ACCEPT
-A DEFAULT_RULES -m state --state RELATED,ESTABLISHED -j ACCEPT
